{
    "env": {
        "production": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": ["last 2 version", "ie 10"]
                    },
                    "modules": false,
                    "debug": true
                }]
            ],
            "plugins": [
                ["component", {
                    "libraryName": "element-ui",
                    "styleLibraryName": "theme-chalk"
                  }
                ],
                "transform-runtime",
                "transform-object-rest-spread"
            ]
        },
        "development": {
            "presets": [
                ["env", {
                    "targets": {
                        "chrome": 52
                    },
                    "modules": false,
                    "debug": true
                }]
            ],
            "plugins": [
                ["component", {
                    "libraryName": "element-ui",
                    "styleLibraryName": "theme-chalk"
                  }
                ],
                "transform-object-rest-spread"
            ]
        }
    }
}
